@model IEnumerable<Common.DTO.Departure>

@{
    ViewData["Title"] = "Departure List";
}

<h2>Departure List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureReturn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeaprtureTicketCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureAvaiableTicketCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransportType)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.CityName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureReturn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeaprtureTicketCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureAvaiableTicketCount)
            </td>

            @if (ViewBag.logged != null)
            {
                @using (Html.BeginForm("BuyDepertureTicket", "Departure", FormMethod.Post))
                {
                    <td>
                        <input type="hidden" value="@item.ID" name="id" />
                        <input type="number" value="0" name="amount" class="form-control" />
                    </td>
                    <td>
                        <input type="submit" value="Buy" class="btn btn-default" />
                    </td>
                }
            }
        </tr>
    }
    </tbody>
</table>
